<%= content_for :title, "#{resource.title}" %>

<% resource.courses.each do |course| %>
  <div class='item block'>
    <%= link_to "#{course.number} курс", year_faculty_course_groups_path(@year, @faculty, course), :class => 'title' %>
    <span><%= t :groups, :count => course.groups.not_archived.count %></span>
    <span><%= t :groups, :count => course.groups.not_archived.not_verified.count %> не выверены сроки семестров и контингент</span>
    <span><%= t :groups, :count => course.groups.not_archived.without_educations.count %> нет РУП</span>
  </div>
<% end %>
