<%= content_for :title, "Группа #{@group.number} #{@faculty.abbr}" %>

<%= link_to 'Сроки семестров и контингент',
            change_verified_state_year_faculty_course_group_path(@year, @faculty, @course, @group),
            :title => @group.verified? ? t('verified') : t('unverified'),
            :class => @group.verified? ? 'checked check_link' : 'unchecked check_link' if can? :manage, Group %>

<div><%= Group.human_attribute_name(:number) %>: <%= resource %></div>
<div><%= Group.human_attribute_name(:course) %>: <%= "#{resource.course.number} курс" %></div>
<div><%= Group.human_attribute_name(:year_forming) %>: <%= resource.year_forming %></div>
<div><%= Group.human_attribute_name(:budget_students_count) %>: <%= resource.budget_students_count %></div>
<div><%= Group.human_attribute_name(:payment_students_count) %>: <%= resource.payment_students_count %></div>
<div><%= Group.human_attribute_name(:speciality_code) %>: <%= resource.speciality_code %></div>
<div><%= Group.human_attribute_name(:speciality_title) %>: <%= resource.speciality_title %></div>
<div><%= Group.human_attribute_name(:subspeciality_title) %>: <%= resource.subspeciality_title %></div>

<% if can? :manage, Group %>
  <%= link_to t('edit'), edit_resource_path %>
  <% if @group.archived? %>
    <%= link_to t('unarchive'), change_archived_state_year_faculty_course_group_path(@year, @faculty, @course, @group), :confirm => t('are_you_sure') %>
  <% else %>
    <%= link_to t('archive'), change_archived_state_year_faculty_course_group_path(@year, @faculty, @course, @group), :confirm => t('are_you_sure') %>
  <% end %>
<% end %>

<div class="rpz_info">
  <ul class="tabs">
    <li><a href='#autumn' class='active'>Осенний семестр</a></li>
    <li><a href='#spring'>Весенний семестр</a></li>
  </ul>
  <% @group.semesters.includes([:semester, :educations, :trainings, :loadings]).each do |semester| %>
    <div id='<%= semester.title %>' class="tabs_target">
      <%= link_to "Редактировать нагрузку", edit_year_faculty_course_group_semester_path(@year, @faculty, @course, @group, semester) %>
      <table>
        <thead>
          <tr>
            <th rowspan='2' class='cycle'>Цикл</th>
            <th rowspan='2' class='discipline'>Дисциплина</th>
            <th rowspan='2' class='chair'>Обеспеч.<br/>кафедра</th>
            <th rowspan='2' class='streams'>Потоки</th>
            <th rowspan='2' class='check'>Форма учета</th>
            <th rowspan='2'>Альтернатива ГПО</th>
            <th rowspan='2' class='training'>Вид обучения</th>
            <th rowspan='2'>Мониторинг</th>
            <th rowspan='2' class='total'>Всего часов</th>
            <th rowspan='2' class='total'>Запланировано часов</th>
            <th colspan='<%= semester.weeks_count %>'>Распределение занятий</th>
          </tr>
          <tr>
            <% semester.weeks.each do |week| %>
              <th class='loading <%= week.break_week? ? 'break_week' : 'normal' %>'><%= week.number %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% semester.educations.order('cycle_code ASC').group_by(&:cycle_code).each do |cycle_code, educations| %>
            <tr>
              <td rowspan='<%= educations.count + educations.flat_map(&:trainings).count + 1 %>' title='<%= educations.first.cycle_title %>'><%= cycle_code %></td>
            </tr>
            <% educations.each do |education| %>
              <tr>
                <td rowspan='<%= education.trainings.count + 1 %>'><%= education.discipline_title %></td>
                <td rowspan='<%= education.trainings.count + 1 %>' title='<%= education.chair_title %>'><%= education.chair_abbr %></td>
                <td rowspan='<%= education.trainings.count + 1 %>'><%= education.stream ? education.stream.groups.map{ |g| link_to(g.number, [@year, @faculty, @course, g]) }.join('<br/>').html_safe : '&mdash;'.html_safe %></td>
                <td rowspan='<%= education.trainings.count + 1 %>'><%= education.checks.map(&:title).join('<br/>').html_safe %></td>
                <td rowspan='<%= education.trainings.count + 1 %>'>
                  <%= render education %>
                </td>
              </tr>

              <% education.trainings.each do |training| %>
                <tr>
                  <td><%= training.title %></td>
                  <td>
                    <%= render training %>
                  </td>
                  <td><%= training.planned_loading %></td>
                  <td><%= training.summ_loadings %></td>
                  <% semester.weeks.each do |week| %>
                    <td class='<%= week.break_week? ? 'break_week' : 'normal' %>'><%= training.loading_at(week).value %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tr>
          <tfoot>
            <tr>
              <td colspan='8'>Итого</td>
              <td><%= semester.summ_planned_loading %></td>
              <td><%= semester.summ_loading_value %></td>
              <% semester.weeks.each do |week| %>
                <td class='<%= week.break_week? ? 'break_week' : 'normal' %>'><%= semester.summ_loading_value_at(week) %></td>
              <% end %>
            </tr>
          </tfoot>
        </tr>
      </table>
    </div>
  <% end %>
</div>
