<%= content_for :title, 'Список потоков' %>

<div class="streams">
  <h3>Сформированные потоки</h3>
  <ul>
    <% @streams.each do |stream| %>
      <li class="stream">
        <%= stream.title %>
        <%= link_to t('remove'), year_faculty_course_stream_path(@year, @faculty, @course, stream), method: :delete %>

        <% stream.educations.group_by(&:discipline).each do |discipline, educations|  %>
          <%= render partial: 'table', locals: { discipline: discipline, educations: educations, form: false } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="streams">
  <h3>Следующие дисциплины можно объединить в поток</h3>
  <ul>
    <% @course.unstreamed_educations(@semester.title).group_by(&:discipline).each do |discipline, educations|  %>
      <% if educations.many? %>
        <li class="stream">
          <%= discipline.title %>
          <%= form_tag year_faculty_course_streams_path(@year, @faculty, @course) do %>
            <%= hidden_field_tag 'stream[title]', educations.first.discipline.title %>
            <%= hidden_field_tag 'stream[semester_id]', @semester.id %>
            <%= render partial: 'table', locals: { discipline: discipline, educations: educations, form: true } %>
            <%= submit_tag t('new_stream') %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
