<%= content_for :title, 'Управление пользователями' %>

<%= form_tag manage_users_path, method: :get do %>
  <div class='search'>
    <%= text_field_tag :q,
      params[:q],
      placeholder: 'ФИО, email' %>
  </div>

  <div class='action'>
    <%= submit_tag 'Поиск' %>
  </div>
<% end %>


<ul class="collection_list collapser">
  <% @users.each do |user| %>
    <li class="user">
      <div class="info">
        <span class="name"><%= user.name %></span>
        <span class="email"><%= mail_to user.email, user.email %></span>
        <%= link_to 'Подробнее', '#', :class => 'show' if user.permissions.any? %>
        <%= link_to 'Добавить', new_manage_user_permission_path(user), :class => 'add' %>
      </div>

      <div class="details">
        <ul class="permission_list">
          <% user.permissions.group_by(&:role).each do |role, permissions| %>
            <li>
              <h4><%= role.text %></h4>
              <ul>
                <% permissions.each do |permission| %>
                  <li>
                    <%= permission %>
                    <%= link_to 'Удалить', manage_user_permission_path(permission.user, permission), :method => :delete, :confirm => t('confirm') if can?(:destroy, permission) %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>
