<%= simple_form_for resource do |f| %>
  <%= f.input :title %>

  <fieldset>
    <%= f.simple_fields_for :autumn_semester do |as|%>
      <legend><%= as.object.title_text %></legend>
      <%= as.input :starts_on, :as => :string, :input_html => { :class => 'datepicker' } %>
      <%= as.input :breaks_on, :as => :string, :input_html => { :class => 'datepicker' } %>
      <%= as.input :ends_on, :as => :string, :input_html => { :class => 'datepicker' } %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.simple_fields_for :spring_semester do |ss|%>
      <legend><%= ss.object.title_text %></legend>
      <%= ss.input :starts_on, :as => :string, :input_html => { :class => 'datepicker' } %>
      <%= ss.input :breaks_on, :as => :string, :input_html => { :class => 'datepicker' } %>
      <%= ss.input :ends_on, :as => :string, :input_html => { :class => 'datepicker' } %>
    <% end %>
  </fieldset>

  <div class="buttons">
    <%= f.submit %>
    <%= link_to t('cancel'), :back %>
  </div>
<% end %>

