<%= content_for :title, resource.title %>
<%= render resource %>

<% resource.semesters.each do |semester| %>
  <div class='item'><%= semester %></div>
<% end %>

<% resource.faculties.each do |faculty| %>
  <div class='item block <%= faculty.slug %>'>
    <%= link_to faculty, year_faculty_path(@year, faculty), :title => faculty.title, :class => 'title' %>
    <span><%= t :groups, :count => faculty.groups.count %></span>
    <span><%= t :groups, :count => faculty.groups.verified.count %> не выверены сроки и контингент</span>
  </div>
<% end %>
