<!DOCTYPE html>
<html>
  <head>
    <title>Рабочие планы занятий ТУСУР</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="auth">
      <% if user_signed_in? %>
        <span class='name'><%= current_user.name %> &lt;<%= current_user.email %>&gt;</span>
        <%= link_to 'Выйти', destroy_user_session_path %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path %>
      <% end %>
    </div>

    <div class="main_wrapper">
      <h1><%= yield :title %></h1>
      <div class="main">
        <div class="breadcrumbs"><%= render_navigation :renderer => :breadcrumbs, :join_with => '<span>&rarr;</span>' %></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
